
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;// значение высоты #footer
}
#footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 60px;
  background-color: #F0F0E9;
}