
html {
  position: relative;
  min-height: 100%;

}

body {

    /*background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);*/
    /*background-size: 20px 20px;*/
    /*background-position: center center;*/
    background-color: rgba(28, 247, 104, 0.05);
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F7F7F7;
}
#header {
background-color: #F7F7F7;
}
